<div class="columns mt-6 is-centered">
	<div class="column is-one-quarter">
		<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
		  <%= render "devise/shared/error_messages", resource: resource %>

		  <div class="field">
		    <% f.label :email %><br />
		    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input is-info", placeholder: "Enter Email"%>
		  </div>

		  <div class="actions">
		    <%= f.submit "Send me reset password instructions", class: "button is-outlined is-info is-fullwidth" %>
		  </div>
		<% end %>
	</div>
</div>