<div class="columns is-centered mt-6">
	<div class="column is-one-third">
		<%= render 'form', category: @category %><br/>
		<%= link_to 'Back', root_path, class: "button is-danger is-link is-outlined is-medium" %>
	</div>
</div>